{% extends 'school/base_visitor.html' %}
{% block title %}Register{% endblock %}

{% block body %}
<!--inner block start here-->


<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4"><br><br>
			<div class="login-panel panel panel-default" style="width: 500px">
            <div class="signup-head">
				<h1>Sign Up</h1>
			</div>
				<div class="panel-body">
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
					<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'school/form_template.html' %}
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
                            </div>
                        </div>
                    </form>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->
    <br>
<!--copy rights start here-->
<div class="copyrights">
	 <p>© 2016 Shoppy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
</div>	
<!--COPY rights end here-->

{% endblock %}

                      
						
